$sans-family: 'Montserrat',sans-serif;
$sans-weight: 400;
$sans-bold-weight: 600;

// Font Sizes
$base-font-size: 18px;
$small-font-size: 15px;

// Line height
$base-line-height: 1.45;
$heading-line-height: 1.5;

// Font Colors
$base-font-color: $black !default;
